body {
    font-family: 'libre BaskerVille', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFBDE;
}

.navbar {
    background-color: #096B68;
    color: #FFFBDE;
    padding: 6px;
    display: flex;
    justify-content: center; /* centers content horizontally */
    align-items: center;     /* centers content vertically */
}

.navbar-brand {
    font-size: 18px;
}

.navbar-links {
    display: flex;
    
}

.navbar-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #90D1CA;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

h2 {
    color: #333;
}

label {
    margin-top: 10px;
    display: block;
}

select {
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
    padding: 10px;
    background-color: #ecf0f1;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

strong {
    margin-right: 10px;
    flex-basis: auto;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

button {
    padding: 8px;
    cursor: pointer;
    border: none;
    color: white;
    border-radius: 20px;
}

button.absent,
button.present,
button.leave {
    background-color: #FFFBDE;
}

button {
    background-color: #129990;
    color:black;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color:#86A788;
}

/* Responsive styles for mobile view */
@media screen and (max-width: 600px) {
    .container {
        padding: 10px;
    }

}

#resultSection {
    margin-top: 20px;
}

#resultSection h3 {
    margin-top: 10px;
}

#resultSection p {
    margin-bottom: 5px;
}

#resultSection span {
    font-weight: bold;
}
